h1 {
    font-family: 'Work Sans', sans-serif;
    font-size: 80px;
    color:white;
   }
   
p {
    font-family: 'Crimson Text', serif;
    color:white;
    font-size: large;
}

#centered {
    position: absolute;
    top: 44%;
    left: 40%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
}

#centered1 {
    position: absolute;
    top: 60%;
    left: 34%;
    margin-top: -50px;
    margin-left: -50px;
    width: 800px;
    height: 100px;
}
